* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}

body{
    display: flex;
    background-image: url('1_512.jpg');
}

.container {
    min-height: 100vh;
    min-width: 100%;
    position:relative
}



.row {
    height: 100vh;

}

/* right col */
.col {
    background-color: beige;
}

.email-action1:hover {
    cursor: pointer;
    opacity: 0.5;
}
.email-action2:hover {
    cursor: pointer;
    opacity: 0.5;
}
.email-action3:hover {
    cursor: pointer;
    opacity: 0.5;
}
.attachment:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: right;
    
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear:right;
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0; 
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 3000px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        
        
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
        background-color: white;
        backface-visibility: hidden;
    }
}
 /* left col */
.col-2 {
    border: none;
    background-color: rgb(166, 167, 164);
    min-width: fit-content;
}

.btn {
    position:relative;
    top:8%;
    left: 27%;
}

.list-group {
    position: relative;
    top: 13%;
}

#item-1:hover {
    cursor: pointer;
    opacity: 0.5;
}
#item-2:hover {
    cursor: pointer;
    opacity: 0.5;
}
#item-3:hover {
    cursor: pointer;
    opacity: 0.5;
}
#item-4:hover {
    cursor: pointer;
    opacity: 0.5;
}
#item-5:hover {
    cursor: pointer;
    opacity: 0.5;
}
#item-6:hover {
    cursor: pointer;
    opacity: 0.5;
}

.welcome {
    display: flex;
    justify-content: center;
    min-width: fit-content;
    position: relative;
    top: 70px;
}

.fas {
    display: flex;
    justify-content: center;
    min-width: fit-content;
    position: relative;
    top: 90px;
    right: 90px;
}

@media screen and (max-width: 1000px) {
    .col-2 {
      display: none;
    }
  }

/* mid col */ 
.col-3 {
    border: none;
    background-color: beige;
    position:relative;
    min-width: fit-content;
}

.navbar {
    position: relative;
}

#card-1:hover{
    cursor: pointer;
    opacity: 0.7;
}

#card-2:hover{
    cursor: pointer;
    opacity: 0.7;
}

#card-3:hover{
    cursor: pointer;
    opacity: 0.7;
}

#card-4:hover{
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .col-3 {
      display: none;
    }
  }
